In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_excel('data/Beemstergaard Teeltplan 2023.xlsx')

/Users/svenvanderburg/miniforge3/envs/teaching/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
df_raw.head()

,,Gewas,Ras,Plantenfamilie,Gewasgroep\nVelt,Gewasgroep \nBeemstergaard,Aantal bedden,Bed\nnummer,DZ / TP / JONG,Combinatieteelt,...,Dagen in opkweek,Zaden per gram,Zaden nodig per plant,Zaden nodig in grammen,Prijs per gram,Leverancier,Zaadkosten,Opmerkingen zaadbestelling,Zaad aanwezig (g),Opmerkingen
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Komkommer,Arola,Komkommerachtig,Vrucht,Cucurbits,Kas,NaN,TP,NaN,...,NaN,40.0,1.2,0.90,NaN,Bingenheim,NaN,NaN,,NaN
2,NaN,Komkommer,Zilveren snijkomkommer,Komkommerachtig,Vrucht,Cucurbits,Kas,NaN,TP,NaN,...,NaN,40.0,1.2,0.90,NaN,Kokopelli,NaN,NaN,NaN,NaN
3,NaN,Augurk,Liefje,Komkommerachtig,Vrucht,Cucurbits,Kas,NaN,TP,NaN,...,NaN,40.0,1.2,0.30,NaN,Bingenheim,NaN,NaN,NaN,NaN
4,NaN,Komkommer,Luffa sponskomkommer,Komkommerachtig,Vrucht,Cucurbits,Kas,NaN,TP,NaN,...,NaN,40.0,1.2,0.15,NaN,Kokopelli,NaN,NaN,NaN,NaN

In [6]:
df_raw.columns

Index([' ', 'Gewas', 'Ras', 'Plantenfamilie', 'Gewasgroep\nVelt',
       'Gewasgroep \nBeemstergaard', 'Aantal bedden', 'Bed\nnummer',
       'DZ / TP / JONG', 'Combinatieteelt', 'Afstand tussen rij',
       'Afstand in rij', 'Rijen per bed', 'Planten nodig', 'Zaaien (week)',
       'Zaaidatum', 'Planten (week)', 'Plantdatum', 'Verwachte oogst (week)',
       'Startdatum oogst', 'Eindweek\noogst', 'Einddatum oogst',
       'Dagen tot volgroeiing', 'Dagen in tuin', 'Dagen in opkweek',
       'Zaden per gram', 'Zaden nodig per plant', 'Zaden nodig in grammen',
       'Prijs per gram', 'Leverancier', 'Zaadkosten',
       'Opmerkingen zaadbestelling', 'Zaad aanwezig (g)', 'Opmerkingen'],
      dtype='object')

In [34]:
data = list()
mapper = {
    'zaaien': 'Zaaien (week)',
    'planten': 'Planten (week)',
    'verwachte oogst': 'Verwachte oogst (week)'} 
for week in range(1, 53):
    for activity in mapper.keys():
        selection = df_raw[df_raw[mapper[activity]] == week]
        for gewas in set(selection['Gewas']): 
            data.append({'Week': week, 'Wat doen?': f'{gewas} {activity}'})
in_time_df = pd.DataFrame(data)

In [35]:
in_time_df

     Week                                 Wat doen?
0       3                       Peul (vroeg) zaaien
1       3                              Peper zaaien
2       3                            Paprika zaaien
3       3                          Aubergine zaaien
4       5                   Rodekool (vroeg) zaaien
..    ...                                       ...
161    40                   Pompoen verwachte oogst
162    41  Spruitkool (middelvroeg) verwachte oogst
163    42           Winterpostelein verwachte oogst
164    44                  Aardpeer verwachte oogst
165    45      Savooiekool (herfst) verwachte oogst

[166 rows x 2 columns]

In [36]:
in_time_df.to_excel('data/planning-per-week.xlsx', index=False)